body {
  font-family: 'Josefin Sans', sans-serif;
  color: #617E87;
  font-size: 1.1rem;
}
ul {
  padding: 0;
}
li {
  text-align: left;
  list-style-type: none;
}
.bg-light {
    background-color: rgba(143, 190, 213, 0.95)!important;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-brand:hover {
    color: #d2e4f8;
}
.navbar-light .navbar-brand {
    color: white;
}
.jumbotron {
    background: #9cc2d5 url(../images/arnel-hasanovic-673679-unsplash.jpg);
    background-position: top;
    background-size: cover;
    height: 742px;
    font-family: 'Homemade Apple', cursive;
    color: white;
    text-shadow: 3px 3px 3px #b26c60;
    margin-bottom: 0;
}

.city-thumb {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 25px;
}

.vancouver-thumb {
  background: url(../images/spencer-watson-447781-unsplash.jpg);
  background-size: cover;
}

.LA-thumb {
  background: url(../images/martin-adams-764547-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.SF-thumb {
  background: url(../images/oliver-plattner-527165-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.container {
    padding: 20px 0;
}

.img-van {
  border-radius: 10%;
  background: url(../images/spencer-watson-447781-unsplash.jpg);
  background-size: cover;
}

.bg-fcd7d0 {
  background: #fcd7d0;
  padding: 35px;
}

.van-bg {
  background: url(../images/aditya-chinchure-568068-unsplash.jpg);
  height: 800px;
  background-position: center;
  background-size: cover;
}

.la-bg {
  background: url(../images/martin-adams-764547-unsplash.jpg);
  height: 800px;
  background-position: center;
  background-size: cover;
}

.sf-bg {
  background: url(../images/oliver-plattner-527165-unsplash.jpg);
  height: 800px;
  background-position: center;
  background-size: cover;
}

.display-1 {
  font-family: 'Homemade Apple', cursive;
  color: white;
  padding: 20rem 2rem;
  text-shadow: 3px 3px 3px #9dc6da;
}

.display-4 {
  color: white;
}
.display-3, .display-5 {
  color: #617E87;
  font-family: 'Homemade Apple', cursive;
}
h3 {
  color: #617E87;
  font-family: 'Homemade Apple', cursive;
}

.thingsToDo {
  clip-path: circle();
  width: 450px;
  height: 450px;
}

.vancouver-thingToDo1 {
  background: url(../images/oliver-plattner-527165-unsplash.jpg);
  background-position: center;
  background-size: cover;
}
.stanley-park-img {
  background: url(../images/carlos-blanco-1248026-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.disney-img {
  background: url(../images/cody-board-782797-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.koreatown-img {
  background: url(../images/Koreatown-Los-Angeles-2.jpg);
  background-size: cover;
}

.capilano-img {
  background: url(../images/wes-hicks-1113412-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.wineries-img {
  background: url(../images/scott-warman-525484-unsplash.jpg);
  background-position: center;
  background-size: cover;
}
.vandusen-img {
  background: url(../images/Laburnum-Walk-vandusenPark.jpg);
  background-position: center;
  background-size: cover;
}
.gastown-img {
  background: url(../images/8185_HDR_2012-07-16_Gastown_HDR_04_2012-07-16_Gastown_HDR.jpg);
  background-position: center;
  background-size: cover;
}
.granville-img {
  background: url(../images/publicmarket_5c99ceae-e761-47ba-92fa-548c5b581ea5.jpg);
  background-position: center;
  background-size: cover;
}
.oxbrow-img {
  background: url(../images/Oxbow-Public-Market-in-Napa-asavvylifestyle.jpg);
  background-position: center;
  background-size: cover;
}
.spa-img {
  background: url(../images/Calistoga_Spa_Hot_Springs_Resort_e1484607432690_739c7a18-6de8-44bb-b1da-20c441dac80e.jpg);
  background-position: center;
  background-size: cover;
}
.griffith-img {
  background: url(../images/aayush-tuladhar-613557-unsplash.jpg);
  background-position: center;
  background-size: cover;
}
.santaMonica-img {
  background: url(../images/kevin-fremon-435487-unsplash.jpg);
  background-position: center;
  background-size: cover;
}
